config XRADIO
       bool "XRADIO WLAN support"
       depends on MAC80211
       default n

if XRADIO

config XRADIO_NON_POWER_OF_TWO_BLOCKSIZES
	bool "Platform supports non-power-of-two SDIO transfer"
	depends on XRADIO
	default y

config XRADIO_5GHZ_SUPPORT
	bool "5GHz band support"
	depends on XRADIO
	default n

config XRADIO_WAPI_SUPPORT
	bool "WAPI support"
	depends on XRADIO
	default n

config XRADIO_USE_EXTENSIONS
	bool "Extensions for WFD and PS mode"
	depends on XRADIO
	default y

endif
