######## base layer ########

# We compile monolithic kernel
CONFIG_MODULES=n
CONFIG_MODULE_UNLOAD=n

# Enable SMP by default
CONFIG_SMP=y

# Enable firmware support
CONFIG_FW_LOADER=y
CONFIG_EXTRA_FIRMWARE_DIR="/build/firmware"
